@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
:root {
  font-family: poppins, sans-serif;
  --primary-500: #fdcb6e;
}
.font-one {
  font-family: Anton, sans-serif;
  letter-spacing: 5px;
}
.font-two {
  font-family: poppins, sans-serif;
}

/* Global styles  */
.header-sec {
  backdrop-filter: blur(50px); /* Adjust the blur value as needed */
}
.menu .active {
  color: var(--primary-500) !important;
}
/* Global styles end */

a {
}
a:hover {
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 2.2rem;
  font-weight: 600;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
}
h4 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8rem;
}
p {
  font-size: 1rem;
  font-weight: 200;
}
h1.herohead {
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 5.5rem;
}

.register-form input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary-500);
  background-color: transparent !important;
}

button {
  font-family: poppins, sans-serif;
  font-weight: 600;
  transition: 0.5s ease;
}
button:hover {
}
button:focus,
button:focus-visible {
}
